* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #040a2c;
    scroll-behavior: smooth;

}

body {
    background-color: antiquewhite;
    margin: 0 auto;

}

a, a:focus, a:visited a:active {
    cursor: pointer;
    color: initial;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

select {
    background-color: white;
    border: thin solid white;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
}


/* FONTS */
@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: SuezOne; 
    src: url(../fonts/Suez_One/SuezOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}


/* HEADER */
.main-header {
    height: 3.375rem;
}

.header-container {
    height: 100%;
    background-color: #ff7f00;
    align-items: center;
}

.header-container .logo-container .logo-img, ul li:not(.header-line){
    cursor: pointer;
    user-select: none;
}

 .logo-img {
    transition: all .2s;
}

.logo-img:hover {
    transform: scale(1.1);
}

.header-container ul:first-of-type {
    flex-grow: 0.35;
}

.header-container ul:first-of-type li {
    flex-grow: 0.1;
}

body.opened .main-screen {
    visibility: visible;
    opacity: 1;
}

.nav-tabs {
    visibility: hidden;
    opacity: 0;
    color: white;
}

.nav-tabs li a {
    color: white;
    padding-bottom: 14px;
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
}

.main-screen .narrow-nav-tabs {
    height: 100%;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-top: 12.5rem
}

.main-screen .narrow-nav-tabs li {
    margin-bottom: 0.5rem;
    z-index: 100;
}

.main-screen .narrow-nav-tabs a {
    font-size: 5rem;
    color: #ffffff;
    transition: color .2s;
}

.narrow-nav-tabs li:hover a {
    color: #ff7f00;
}

.logo-container {
    flex-grow: 1;
    user-select: none;
    margin-left: 10px;
}


.logo-img {
    width: 135px;
}

/* NAV */
.main-nav {
    height: 100px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
    user-select: none;
}

.main-nav-height { 
    height: auto;
}


.main-nav .input-container {
    border-bottom: 2px solid black;
    width: 185px;
    margin-bottom: 5px;
}

.main-nav .input-container span {
    cursor: pointer;
}

.main-nav .input-container i {
    transition: transform .2s;
}

.main-nav .input-container i:hover {
    transform: scale(1.2);
}



.main-nav input {
    border: none;
    padding: 2px 5px;
}

.main-nav .nav-keywords-container {
    
    width: 100%;
}

.main-nav .keywords-list {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.main-nav .keywords-list .more-words-btn {
    text-decoration: underline;
}

.main-nav .nav-keywords-container .keywords-list > *, .more-keywords > *{
    margin: 10px 0px 3px 10px;
    cursor: pointer;
    transition: all .2s;
}

.keywords-list > *:hover, .more-keywords > *:hover {
    color: #FF7F00
} 

.more-keywords {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: min-content;
    transition: opacity .2s ease-in-out;
    padding-right: 15px;
}

.more-keywords > * {
    margin-bottom: 3px;
}


/* HAMBURGER MENU */
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;
    /* visibility: hidden;
    opacity: 0;
    width: 0; */
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* CANVAS */


.canvas-container {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    margin: 15px auto 15px auto;

}

.editor-container {
    flex-direction: column;
    transition: opacity .2s ease-in-out;
}


.back-gallery {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    text-align: right;
}

.back-gallery i {
    flex-grow: 0.01;
}

.wide-back-btn {
    display: none;
}

/* CANVAS EDITOR */

.canvas-editor {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

}
.canvas-editor .text-input {
    height: 60px;
    width: 23.125rem;
    padding-left: 10px;
    font-size: 25px;
    border: none;
    border-radius: 4px;
    margin: 15px 0px 10px 0px;
    transition: all .3s;
}

.canvas-editor .text-input:focus {
        box-shadow: 0 0 5pt 2pt #D3D3D3;

}

.canvas-editor .buttons-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.canvas-editor .buttons-container button {
    background-color: antiquewhite;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    margin: 5px;
    transition: background-color .2s;
}

.canvas-editor .buttons-container button:hover {
    background-color: #FF7F00;
}

.canvas-editor .buttons-container button:active, a:active {
    transform: scale(0.97);
}

.canvas-editor .buttons-container .third-row {
    margin-bottom: 10px;
}

.canvas-editor .buttons-container .font-select {
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    width: 8rem;
}

.canvas-editor .buttons-container .share-form {
    display: inline-block;
}

/* GALLERY */
.gallery-container {
    justify-content: center;
    align-content: center;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 50%));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    row-gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px 0px 100px 2%;
    transition: opacity .2s;
}

.gallery-container > * {
    grid-column: span 1;
    grid-row: span 1;
    width: 85%;
    margin: 0 auto;
}

.gallery-container img {
    cursor: pointer;
    width: 80%;
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
    box-shadow: 0px 5px 6px -5px
}

.gallery-container img:hover {
    transform: translate(0, -.5rem);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* ABOUT SECTION */
.about-section {
    background-color: antiquewhite;
    border-top: 2px solid white;
    padding: 30px 10px;
flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.about-section .my-img {
    justify-content: center;
}

.about-section .my-img img {
    width: 40%;
    border-radius: 50%;
    border: 7px solid #fff;
}

.about-section .about-me {
    align-self: center;
    align-items: center;
}

.about-section .about-me .about-name {
    font-weight: 700;
    font-size: 30px;
}

.about-me .about-text {
    margin-left: 10px;
}

.about-section .about-social a {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: color .2s;
}

.about-section .about-social a:hover {
    color: #ff7f00;
}


.about-section .about-me p {
    line-height: 1.7;
}

.about-section .top-btn {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-basis: 100%;
}

.top-btn i {
    transform: color .2s;
}

.top-btn i:hover {
    color: #ff7f00;
}

/* FOOTER */
.main-footer {
    height: 90px;
    background-color: #ff7f00;
    
}


/* HELPERS */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.clear-list {
    list-style-type: none;
}

.hide {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    max-height: 0;
}

.show {
    visibility: visible;
    opacity: 1;
    max-height: initial;
    max-width: initial;
}

.header-tab-active {
    border-bottom: 3px solid black;
    color: black;
}

@media (min-width: 812px) {

    .main-nav {
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 0;
    }

    .main-nav .input-container {
        width: 222px;
        margin-left: 1.25rem;
    }

    .menu {
        visibility: hidden;
        opacity: 0;
        max-width: 0;
        max-height: 0;
    }

    .nav-tabs {
        opacity: 1;
        visibility: visible;
    }



    .header-container ul:first-of-type {
    flex-grow: 0.05
    }   

    .main-nav .nav-keywords-container .keywords-list > *{
    margin-left: 30px;
    }

    .about-section {
        flex-direction: row;
        justify-content: center;
    }

    .about-section .my-img img{
        width: 70%;
    }

    .about-section .about-me {
        align-items: flex-start;
    }



}

@media (min-width: 914px) {

    .main-nav .input-container {
        width: 220px;
    }

    .editor-container {
        flex-direction: row;
        
    }
    .narrow-back-btn {
        display: none;
    }

    .wide-back-btn {
        display: block;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .back-gallery i{
        padding-left: 5px;
    }

    .canvas-container {
        margin-left: 50px;
        margin-top: 30px;
    }
}


@media (min-width: 1095px) {

    .editor-container {
        flex-direction: row;
    }

        .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(33.333%, 33.333%));
        
    }

}