* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    

}

body {
    background-color: antiquewhite;
}

img {
    width: 100%;
}

/* LAYOUT  */

.main-layout {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.main-header {
    height: 4.375rem;
    background-color: antiquewhite;
}
.logo-img {
    width: 135px;
}

/* GALLERY */
.gallery-container {
    margin: 0 auto;
    width: 90vw;
    height: 85vh;
    background-color: lightslategray;
}

/* CANVAS */
.canvas-container {
    margin: 0 0;
    width: 500px;
    height: 500px;
    background-color: mediumpurple;
}

/* FOOTER */
.main-footer {
    height: 200px;
}

/* HELPERS */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.clear-list {
    list-style-type: none;
}
