* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: OpenSansRegular;

}

body {
    background-color: antiquewhite;
    margin: 0 auto;

}

a, a:focus, a:visited a:active {

    color: initial;
}

img {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

select {
    background-color: white;
    border: thin solid white;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
}

/* FONTS */
@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: SuezOne; 
    src: url(../fonts/Suez_One/SuezOne-Regular.ttf);
}

/* LAYOUT  */

.main-layout {
    width: 100vw;
    margin: 0 auto;
}

/* HEADER */
.main-header {
    height: 3.375rem;
}

.header-container {
    height: 100%;
    background-color: #ff7f00;
    align-items: center;
}

.header-container .logo-container .logo-img, ul li:not(.header-line){
    cursor: pointer;
}

.header-container ul:first-of-type {
    flex-grow: 0.35;
}

.header-container ul:first-of-type li {
    flex-grow: 0.1;
}


.logo-container {
    flex-grow: 1;
    user-select: none;
    margin-left: 10px;
}


.logo-img {
    width: 135px;
}

.gallery-link {
    text-decoration: none;
}

/* NAV */
.main-nav {
    height: 100px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.main-nav-height { 
    height: auto;
}


.main-nav .input-container {
    border-bottom: 2px solid black;
    width: 185px;
    margin-bottom: 5px;
}

.main-nav .input-container span {
    cursor: pointer;
}


.main-nav input {
    border: none;
    padding: 2px 5px;
}

.main-nav .nav-keywords-container {
    width: 100%;
}

.main-nav .keywords-list {
    justify-content: center;
    width: 100%;
}

.main-nav .nav-keywords-container .keywords-list > *, .more-keywords > *{
    margin: 10px 0px 3px 10px;
    cursor: pointer;
}

.more-keywords {
    justify-content: center;
    flex-wrap: wrap;
    height: min-content;
    transition: opacity .2s ease-in-out;
    padding-right: 15px;
}

.more-keywords > * {
    margin-bottom: 3px;
}



/* CANVAS */


.canvas-container {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    margin: 15px auto 15px auto;

}

.editor-container {
    flex-direction: column;
    transition: opacity .2s ease-in-out;
}

.back-gallery {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    text-align: right;
}

.back-gallery i {
    flex-grow: 0.01;
}

.wide-back-btn {
    display: none;
}

/* CANVAS EDITOR */

.canvas-editor {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

}
.canvas-editor .text-input {
    height: 60px;
    width: 23.125rem;
    padding-left: 10px;
    font-size: 25px;
    border: none;
    border-radius: 4px;
    margin: 15px 0px 10px 0px;
}

.canvas-editor .buttons-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.canvas-editor .buttons-container button {
    background-color: antiquewhite;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.canvas-editor .buttons-container .third-row {
    margin-bottom: 10px;
}

.canvas-editor .buttons-container .font-select {
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    width: 8rem;
}

/* GALLERY */
.gallery-container {
    justify-content: center;
    align-content: center;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 50%));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    row-gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px 0px 20px 2%;
    transition: opacity .2s;
}

.gallery-container > * {
    grid-column: span 1;
    grid-row: span 1;
    width: 85%;
    margin: 0 auto;
}

.gallery-container img {
    cursor: pointer;
    width: 80%;
}

/* FOOTER */
.main-footer {
    height: 90px;
    background-color: #ff7f00;
    
}


/* HELPERS */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.clear-list {
    list-style-type: none;
}

.hide {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    max-height: 0;
}

.show {
    visibility: visible;
    opacity: 1;
    max-height: initial;
    max-width: initial;
}

@media (min-width: 812px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 400px));

    }

    .main-nav {
        flex-direction: row;
        justify-content: flex-start;

    }

    .main-nav .input-container {
        width: 222px;
        margin-left: 1.25rem;
    }

    .header-container ul:first-of-type {
    flex-grow: 0.05
    }

    .main-nav .nav-keywords-container .keywords-list > *{
    margin-left: 30px;
    }



}

@media (min-width: 914px) {

    .main-nav .input-container {
        width: 230px;
    }

    .editor-container {
        flex-direction: row;
        
    }
    .narrow-back-btn {
        display: none;
    }

    .wide-back-btn {
        display: block;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .back-gallery i{
        padding-left: 5px;
    }

    .canvas-container {
        margin-left: 50px;
        margin-top: 0;
    }
}


@media (min-width: 1095px) {

    .main-layout {
        width: 99vw !important;
    }
    .editor-container {
        flex-direction: row;
    }

        .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 500px));
        
    }

}